In [18]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import math

from feature_engineering.segment_raw_data import segment_raw_data
from feature_engineering.rank_feature import rank_feature, rank_feature_by_max, rank_feature_count
from model_selection.classifier_model_factory import ClassifierModelFactory
from model_selection.regressor_model_factory import RegressorModelFactory
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error
from model_selection.cv import k_fold_regressor, balance_k_fold_regressor
from utils import create_scale_feature
from utils import normalize_data_frame
from utils import normalize_feature
from utils import get_euclidean_metric
from utils import get_cosine_angle
from utils import combine_all
from dateutil.parser import parse
from sampling.sample import separate_high_median_normal

In [11]:
train = pd.read_csv('input/d_train_20180102.csv', encoding='gb2312')
test = pd.read_csv('input/d_test_A_20180102.csv', encoding='gb2312')

In [19]:
train['体检日期'] = (pd.to_datetime(train['体检日期']) - parse('2016-10-09')).dt.days

In [25]:
test['体检日期'] = (pd.to_datetime(test['体检日期']) - parse('2016-10-09')).dt.days

In [28]:
type(train['体检日期'][0])

numpy.int64

In [26]:
test['体检日期'].unique()

array([366, 369, 372, 381, 379, 373, 397, 427, 375, 376, 380, 387, 386,
       382, 383, 374])

In [3]:
train_data = train.iloc[:, 1:-1]
train_target = train.iloc[:, -1]
# train_target_class = train_target.apply()
test_data = test.iloc[:, 1:]

In [4]:
train_data['性别'] = train_data['性别'].map({'男': 1, '女': 0})
test_data['性别'] = test_data['性别'].map({'男': 1, '女': 0})

In [5]:
train_data.columns

Index(['性别', '年龄', '体检日期', '*天门冬氨酸氨基转换酶', '*丙氨酸氨基转换酶', '*碱性磷酸酶', '*r-谷氨酰基转换酶',
       '*总蛋白', '白蛋白', '*球蛋白', '白球比例', '甘油三酯', '总胆固醇', '高密度脂蛋白胆固醇', '低密度脂蛋白胆固醇',
       '尿素', '肌酐', '尿酸', '乙肝表面抗原', '乙肝表面抗体', '乙肝e抗原', '乙肝e抗体', '乙肝核心抗体',
       '白细胞计数', '红细胞计数', '血红蛋白', '红细胞压积', '红细胞平均体积', '红细胞平均血红蛋白量',
       '红细胞平均血红蛋白浓度', '红细胞体积分布宽度', '血小板计数', '血小板平均体积', '血小板体积分布宽度', '血小板比积',
       '中性粒细胞%', '淋巴细胞%', '单核细胞%', '嗜酸细胞%', '嗜碱细胞%'],
      dtype='object')

In [6]:
important_feature = ['*天门冬氨酸氨基转换酶', '*丙氨酸氨基转换酶', '*碱性磷酸酶', '*r-谷氨酰基转换酶',
       '*总蛋白', '白蛋白',   '甘油三酯', '总胆固醇', '高密度脂蛋白胆固醇', '低密度脂蛋白胆固醇',
       '尿素', '肌酐', '尿酸', '白细胞计数',  '红细胞平均体积', '红细胞体积分布宽度']

In [7]:
important_feature_10 = ['*天门冬氨酸氨基转换酶', '*丙氨酸氨基转换酶', '*碱性磷酸酶', '*r-谷氨酰基转换酶',
       '*总蛋白', '白蛋白',  '甘油三酯', '尿素', '尿酸', '白细胞计数',  '红细胞平均体积', '红细胞体积分布宽度']

In [8]:
train_data = train_data.drop(['体检日期'], axis=1)
test_data = test_data.drop(['体检日期'], axis=1)

In [9]:
# train_data.fillna(train_data.median(axis=0), inplace=True)
# test_data.fillna(test_data.median(axis=0), inplace=True)

In [10]:
columns = train_data.columns
str_columns = ['sex', 'age'] + ['f' + str(p) for p in range(len(columns)-2)]

In [11]:
train_data.columns = str_columns
test_data.columns = str_columns
train_target.name = 'Y'

In [41]:
train_data['f5'] = train_data['f5'].apply(lambda x: x if (x > 35) | np.isnan(x) else 35)

In [40]:
ss.head()

0    49.60
1    47.76
2    48.00
3    44.02
4    41.83
Name: f5, dtype: float64

In [19]:
train_data['f17']

0        NaN
1        NaN
2       0.01
3        NaN
4        NaN
5       0.01
6        NaN
7        NaN
8       0.03
9       0.02
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23       NaN
24       NaN
25       NaN
26       NaN
27       NaN
28       NaN
29       NaN
        ...
5612    0.03
5613    0.01
5614     NaN
5615     NaN
5616    0.04
5617     NaN
5618     NaN
5619     NaN
5620     NaN
5621     NaN
5622     NaN
5623     NaN
5624     NaN
5625     NaN
5626    0.03
5627     NaN
5628     NaN
5629     NaN
5630     NaN
5631     NaN
5632     NaN
5633    0.04
5634    0.03
5635     NaN
5636     NaN
5637     NaN
5638     NaN
5639    0.01
5640     NaN
5641     NaN
Name: f17, Length: 5642, dtype: float64

In [12]:
# train_data = train_data.drop(['f15', 'f16', 'f17', 'f18', 'f19'], axis=1)

In [13]:
train_data, factors = normalize_data_frame(train_data, start_index=2)

In [14]:
train_data.head()

,性别,年龄,*天门冬氨酸氨基转换酶,*丙氨酸氨基转换酶,*碱性磷酸酶,*r-谷氨酰基转换酶,*总蛋白,白蛋白,*球蛋白,白球比例,...,红细胞体积分布宽度,血小板计数,血小板平均体积,血小板体积分布宽度,血小板比积,中性粒细胞%,淋巴细胞%,单核细胞%,嗜酸细胞%,嗜碱细胞%
0,1.0,41,3.511332,4.607334,21.805089,1.898362,45.393363,81.744091,34.201624,19.696970,...,14.728682,18.220339,34.567901,54.335260,18.263473,53.576248,38.808140,16.915423,20.888889,17.142857
1,1.0,41,3.419548,7.243820,12.588945,9.942105,51.311209,74.246129,41.627199,15.000000,...,19.379845,33.898305,25.925926,13.294798,32.634731,50.742240,42.441860,13.432836,20.888889,22.857143
2,1.0,46,2.537008,3.029452,11.587067,4.353777,67.092133,75.224124,52.723275,11.212121,...,16.279070,28.813559,14.814815,49.710983,23.502994,45.479082,47.674419,22.885572,14.222222,22.857143
3,0.0,22,1.164953,2.099164,14.544316,1.896993,31.701091,59.005705,33.660352,16.818182,...,13.178295,30.367232,39.506173,16.184971,32.634731,36.842105,56.686047,17.910448,20.444444,14.285714
4,0.0,48,2.360500,2.939231,15.031024,2.239163,48.108610,50.081500,49.323410,9.545455,...,44.186047,39.406780,49.382716,34.682081,46.107784,56.950067,37.209302,29.850746,2.666667,17.142857

In [15]:
train_data.fillna(-99, inplace=True)

In [16]:
# group_array = []
# index = len(important_feature)-1
# ct = 0
# result = [item for item in range(index)]
# combine_all(important_feature,ct,result,index, group_array)

In [17]:
train_data_target = pd.concat([train_data, train_target], axis=1)

In [18]:
train_data_target_1_25_45_high = train_data_target[(train_data_target.Y > 11).values & (train_data_target['性别'] == 1).values & (train_data_target['年龄'] >= 25).values & (train_data_target['年龄'] <= 45).values]

In [19]:
train_data_target_1_25_45 = train_data_target[(train_data_target['性别'] == 1).values & (train_data_target['年龄'] >= 25).values & (train_data_target['年龄'] <= 45).values]

In [20]:
train_data_target_1_25_45_high = train_data_target_1_25_45_high.loc[:, list(important_feature_10) + list('Y')]

In [21]:
train_data_target_1_25_45 = train_data_target_1_25_45.loc[:, list(important_feature_10) + list('Y')]

In [32]:
train_data_target_1_25_45_high

,*天门冬氨酸氨基转换酶,*丙氨酸氨基转换酶,*碱性磷酸酶,*r-谷氨酰基转换酶,*总蛋白,白蛋白,甘油三酯,尿素,尿酸,白细胞计数,红细胞平均体积,红细胞体积分布宽度,Y
127,1.195547,2.889107,18.275744,3.446341,53.910420,79.910350,4.092010,-99.000000,-99.000000,33.023001,41.851852,9.302326,16.30
282,1.701537,3.488582,20.979678,3.238301,47.412393,84.229829,5.351090,29.268293,28.851524,16.100767,47.777778,10.852713,13.19
332,2.553482,4.725625,9.663004,5.243420,59.572987,77.587612,14.939467,29.268293,32.605014,42.223439,54.074074,10.852713,14.13
443,1.880398,3.420414,30.611374,3.501088,36.853098,61.328443,2.058111,-99.000000,-99.000000,13.307777,45.000000,8.527132,13.98
611,2.520534,4.625378,21.062219,3.807673,38.291947,59.290954,7.506053,28.931876,29.574757,20.372399,50.925926,6.976744,11.46
736,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,13.624895,35.732922,12.102957,57.592593,15.503876,11.81
941,12.579134,58.110953,36.642568,15.442837,27.222093,64.262429,6.852300,50.294365,30.017242,31.708653,57.222222,3.875969,14.87
1216,19.907745,30.094031,21.008140,14.331467,30.540729,63.080685,15.278450,11.438183,43.593891,28.696605,43.518519,14.728682,18.51
1534,8.227625,12.949857,17.475949,13.142083,54.304943,78.117359,5.980630,34.146341,28.752346,40.525739,54.629630,7.751938,12.01
1536,2.546422,7.358101,18.736836,7.883607,41.053609,73.431133,4.721550,36.164844,55.338043,38.006572,47.962963,9.302326,11.09
1568,5.591772,9.457265,26.319235,7.585235,42.794152,68.744906,3.995157,-99.000000,-99.000000,36.199343,49.629630,6.976744,11.49
1575,3.718434,4.847926,20.683668,7.069242,55.488512,63.162184,3.389831,-99.000000,-99.000000,28.587076,53.148148,8.527132,11.05
1707,2.682921,4.595304,23.330677,6.249401,57.275470,73.471883,10.435835,37.089992,47.246678,41.894852,49.259259,16.279070,12.40
2038,4.259726,7.987650,30.147436,2.046179,43.629612,64.140179,4.624697,20.353238,32.417339,11.774370,50.370370,10.077519,15.28
2186,6.700242,0.000000,31.189161,4.994320,36.713855,77.465363,100.000000,51.892347,32.746914,22.453450,49.074074,9.302326,11.17
2386,5.742393,13.096217,24.494791,7.978046,52.726851,77.017115,22.808717,42.472666,34.460398,19.167579,45.925926,14.728682,12.60
2932,1.539149,2.903142,14.068993,4.040349,56.788118,72.779136,10.484262,35.155593,17.038710,11.445783,56.851852,7.751938,17.85
4123,1.993363,3.256010,24.537485,0.599483,43.397540,65.566422,1.646489,55.592935,43.062909,24.753560,49.444444,9.302326,23.62
4913,17.987338,22.884295,25.234815,23.013016,46.971455,71.434393,8.571429,22.119428,26.285113,25.520263,52.962963,11.627907,13.02
5077,6.556683,15.008922,28.781238,4.029399,40.148526,62.021190,3.365617,47.014298,27.774302,14.950712,71.481481,20.155039,13.02
5131,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,14.238773,47.407407,10.077519,11.40
5172,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,18.346112,49.259259,7.751938,12.43
5176,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,53.231106,58.518519,7.751938,11.98
5221,1.073168,4.332658,32.245119,3.412124,40.357392,62.958435,2.058111,13.961312,26.230184,20.810515,52.222222,7.751938,18.95
5501,3.414841,7.434288,20.279501,7.295074,41.935484,77.954360,46.271186,34.819176,32.888814,15.936473,55.555556,13.178295,14.28

In [23]:
train_data_target_1_25_45.head()

,*天门冬氨酸氨基转换酶,*丙氨酸氨基转换酶,*碱性磷酸酶,*r-谷氨酰基转换酶,*总蛋白,白蛋白,甘油三酯,尿素,尿酸,白细胞计数,红细胞平均体积,红细胞体积分布宽度,Y
0,3.511332,4.607334,21.805089,1.898362,45.393363,81.744091,2.518160,36.753574,35.203467,13.910186,60.925926,14.728682,6.06
1,3.419548,7.243820,12.588945,9.942105,51.311209,74.246129,6.150121,31.623213,56.166557,26.560789,52.777778,19.379845,5.39
6,3.513685,5.094533,24.491945,8.083435,54.537016,68.704156,3.002421,39.024390,49.959566,21.960570,45.555556,8.527132,5.11
8,2.744111,7.829260,22.750043,8.312005,43.629612,80.562347,4.358354,29.268293,35.801584,22.782037,71.481481,6.976744,5.66
17,3.452496,6.042865,20.697899,4.326403,56.973776,58.312958,8.716707,44.322960,55.920902,29.189485,4.259259,59.689922,4.66

In [52]:
def get_cosine(vec1, vec2):
    np_vec1, np_vec2 = np.array(vec1), np.array(vec2)
    return np_vec1.dot(np_vec2)/(math.sqrt((np_vec1 ** 2).sum()) * math.sqrt((np_vec2 ** 2).sum()))

In [87]:
def get_cosine_angle(vec1, vec2):
    cosine = get_cosine(vec1, vec2)
    if cosine > 1:
        cosine = 1
    elif cosine < -1:
        cosine = -1
    return math.acos(cosine) / math.pi * 180

In [84]:
np.math.acos(1)/ math.pi * 180

0.0

In [92]:
n = 736

In [93]:
dists = []
for index in train_data_target_1_25_45.index:
    dist = get_euclidean_metric(train_data_target_1_25_45.ix[index, :-1].values, train_data_target_1_25_45_high.ix[n, :-1].values)
    dists.append(dist)

In [94]:
angles = []
for index in train_data_target_1_25_45.index:
    angle = get_cosine_angle(train_data_target_1_25_45.ix[index, :-1].values, train_data_target_1_25_45.ix[n, :-1].values)
    angles.append(angle)

In [95]:
dists = pd.Series(dists,name='dist', index = train_data_target_1_25_45.index)
angels = pd.Series(angles,name='angle', index = train_data_target_1_25_45.index)

In [96]:
dists.sort_values()

736       0.000000
707      11.463078
706      11.711103
762      11.798867
592      12.383307
715      14.378653
754      14.695588
710      16.165645
694      16.303174
674      16.378212
708      17.148358
726      17.633424
745      18.159742
741      19.176592
676      19.766011
709      20.090669
701      20.443730
683      20.933946
677      21.320556
735      21.344109
744      21.426989
760      21.691094
771      21.874090
742      21.908970
691      21.924420
761      22.172475
702      22.586462
718      22.718637
690      23.216952
759      23.484070
           ...
466     370.301958
133     371.692521
1581    372.223683
1575    372.471162
434     372.741336
442     372.897543
5432    373.580350
2186    373.615208
436     373.667098
1582    373.817024
125     373.863872
128     373.978545
429     374.074204
1568    374.397865
1579    374.495147
438     374.971082
428     376.330700
439     377.133269
127     377.159209
1577    377.436143
1570    377.514657
1583    378.271072
5392    379.689510
1584    383.648758
440     385.191588
2603    387.572426
2605    388.297310
5270    389.738315
435     391.454445
1145    401.080290
Name: dist, Length: 1425, dtype: float64

In [97]:
angels.sort_values()

736       0.000000
707       2.418539
706       2.468459
762       2.488806
592       2.600366
715       3.034399
754       3.085836
710       3.378666
674       3.397281
694       3.440264
708       3.595235
726       3.672516
745       3.798809
741       4.035961
676       4.169961
709       4.202171
701       4.290637
683       4.301852
744       4.466920
677       4.501817
735       4.506937
760       4.579122
691       4.592777
761       4.596523
771       4.598879
742       4.626653
702       4.744943
718       4.757378
759       4.872552
690       4.893616
           ...
2323    115.605872
5501    115.630468
5432    115.650074
1233    115.711327
251     115.823543
2654    115.941287
937     116.049045
4405    116.107289
5437    116.327345
2386    116.576293
1190    116.652740
4142    116.746456
941     116.929137
3689    117.026191
2033    117.074772
4816    117.103711
5531    117.479389
274     117.689498
4106    117.918164
2186    118.158877
2172    118.301121
435     118.539659
334     118.602160
4411    118.680012
1216    118.942191
1706    119.129972
2784    119.704805
4913    120.922318
940     121.224099
2676    124.746276
Name: angle, Length: 1425, dtype: float64

In [98]:
train_data_target_1_25_45.ix[angels[angels < 7].index].Y

558     5.04
592     5.83
674     5.44
675     5.08
676     6.47
677     5.58
679     5.52
680     5.80
681     4.84
682     5.43
683     5.47
684     5.04
686     5.65
687     5.90
688     5.70
690     5.63
691     5.73
694     5.26
695     5.28
696     5.03
697     5.01
700     4.77
701     5.44
702     4.84
704     5.71
706     5.04
707     5.17
708     5.59
709     5.19
710     4.80
       ...
730     5.17
734     4.90
735     5.35
736    11.81
739     5.29
740     5.31
741     6.01
742     5.64
743     5.20
744     4.99
745     4.97
750     4.92
751     5.24
753     7.68
754     4.78
756     4.66
757     8.25
758     4.74
759     4.89
760     5.10
761     4.95
762     5.62
763     5.62
764     5.60
765     4.86
766     4.74
767     5.39
769     5.50
771     5.41
772     6.47
Name: Y, Length: 69, dtype: float64